:root {
    --framework-button-color: #26a6ed;
}

.framework-button {
    margin-left: 10px;
    border: 1px solid var(--framework-button-color);
    border-radius: 4px;
    color: var(--framework-button-color);
    padding: 4px 8px;
    display: inline-block;
    @apply text-sm;
}

.framework-button.active {
    background-color: var(--framework-button-color);
    border: 1px solid var(--framework-button-color);
    color: white;
}

.framework-button:hover {
    cursor: pointer;
}

.framework-content {
    display: none;
    width: 100%;
}

.framework-content.active {
    display: block;
}

dialog {
    border: none !important;
    border-radius: 4px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0;
}

dialog .dialog__container {
    padding: 16px;
}

dialog .dialog__content {
    overflow-y: auto;
    overscroll-behavior: contain;
}

dialog .dialog__footer {
    padding-top: 16px;
}

dialog #pagefind-search {
    width: 80vw;
    max-width: 900px;
    height: 70vh;

    & .pagefind-ui__results {
        overflow-x: auto;
    }
}